
/*////////// Modal Roll Overs ////////////////*/

.mugShot.Mandy_Gray { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Tonya_Stokes { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ross_Padilla { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Barbara_Owens { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Caleb_Snyder { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gilberto_Dawson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Clay_Riley { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ellen_Warner { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jake_Todd { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Calvin_Parsons { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Joanna_Swanson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Garry_Ramos { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Shelly_Wood { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jared_Barker { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Frances_Guzman { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Clara_Spencer { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ira_Bates { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kristina_Richards { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Shaun_Jackson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Karen_Carr { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Rick_Porter { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Derek_Brady { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Deanna_Howard { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Scott_Owen { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Frank_Lloyd { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Edmund_Green { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Marc_Soto { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Mabel_Saunders { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Heidi_Simon { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kelvin_Page { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Eduardo_Gross { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Rafael_Hawkins { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ann_Stevenson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lana_Huff { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Olivia_Romero { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Paula_Stewart { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Eric_Harper { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lela_Daniel { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sylvia_Lane { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Rochelle_Mclaughlin { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Felipe_Klein { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dan_Bowers { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Emily_Blake { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Wade_Neal { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Beulah_Thompson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Abraham_Copeland { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dana_James { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Clyde_Jensen { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Wayne_Phelps { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Morris_Rodgers { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Courtney_Harmon { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Marcella_Morrison { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Armando_Malone { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gloria_Tate { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kristine_Willis { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Esther_Adkins { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jesus_Marshall { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Salvador_Schmidt { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Felix_Barrett { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Christopher_Ortiz { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lorenzo_Kennedy { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Allen_Armstrong { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Ray_Day { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Nick_Griffith { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Miguel_Strickland { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Timothy_Peterson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gabriel_Castro { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Rita_Evans { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Eileen_Ramsey { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Erika_Patton { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Cassandra_Mendez { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Pablo_Glover { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Alonzo_Benson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Maggie_Hodges { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kathleen_Marsh { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Dwight_Rowe { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Omar_Sutton { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Grady_Curry { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Kelly_Cruz { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Marcia_Montgomery { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Fredrick_Long { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Enrique_Nelson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Brian_Jimenez { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Pat_Reese { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Orlando_Sanders { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lorene_Chavez { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Otis_Holloway { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Wilson_Kim { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Vicky_Rodriquez { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Elijah_Simmons { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Josephine_Bush { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Maureen_Carson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Priscilla_Walton { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Viola_Wallace { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jessie_Byrd { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Zachary_Jordan { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Marty_Patterson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Arlene_Little { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Whitney_Santos { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Eloise_Logan { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Anthony_Pearson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Darrell_Lyons { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Patty_Parks { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Terrence_Flowers { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gilberto_Russell { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jan_Miles { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Carlos_Hernandez { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Doris_Graham { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Sophie_Wagner { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Roberto_Price { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Craig_Simon { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Connie_Parker { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Yvonne_Sanchez { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Lorena_Crawford { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Jaime_Sharp { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Carole_Williams { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Gustavo_Shelton { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Elaine_Wilkerson { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Andres_Garrett { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }
.mugShot.Pam_Patrick { background: url("../images/headshots/default_ProfileSilly.jpg") no-repeat top left; background-size: 100%; }

/*////////// Chart Positioning ///////////////*/

#Eileen_Ramsey { height: 65px; width: 130px; left: 5px; top: 755px; }
#Jesus_Marshall { height: 65px; width: 130px; left: 2245px; top: 755px; }
#Kristina_Richards { height: 65px; width: 130px; left: 3085px; top: 755px; }
#Eloise_Logan { height: 65px; width: 130px; left: 5px; top: 680px; }
#Salvador_Schmidt { height: 65px; width: 130px; left: 1405px; top: 680px; }
#Patty_Parks { height: 65px; width: 130px; left: 1685px; top: 680px; }
#Shaun_Jackson { height: 65px; width: 130px; left: 1965px; top: 680px; }
#Ann_Stevenson { height: 65px; width: 130px; left: 2245px; top: 680px; }
#Jaime_Sharp { height: 65px; width: 130px; left: 2525px; top: 680px; }
#Carole_Williams { height: 65px; width: 130px; left: 3085px; top: 680px; }
#Rick_Porter { height: 65px; width: 130px; left: 5px; top: 605px; }
#Carlos_Hernandez { height: 65px; width: 130px; left: 285px; top: 605px; }
#Esther_Adkins { height: 65px; width: 130px; left: 985px; top: 605px; }
#Gilberto_Russell { height: 65px; width: 130px; left: 1125px; top: 605px; }
#Edmund_Green { height: 65px; width: 130px; left: 1405px; top: 605px; }
#Beulah_Thompson { height: 65px; width: 130px; left: 1545px; top: 605px; }
#Nick_Griffith { height: 65px; width: 130px; left: 1685px; top: 605px; }
#Ellen_Warner { height: 65px; width: 130px; left: 1965px; top: 605px; }
#Sylvia_Lane { height: 65px; width: 130px; left: 2245px; top: 605px; }
#Maureen_Carson { height: 65px; width: 130px; left: 2385px; top: 605px; }
#Darrell_Lyons { height: 65px; width: 130px; left: 2525px; top: 605px; }
#Andres_Garrett { height: 65px; width: 130px; left: 3085px; top: 605px; }
#Morris_Rodgers { height: 65px; width: 130px; left: 3365px; top: 605px; }
#Lana_Huff { height: 65px; width: 130px; left: 5px; top: 530px; }
#Timothy_Peterson { height: 65px; width: 130px; left: 285px; top: 530px; }
#Zachary_Jordan { height: 65px; width: 130px; left: 565px; top: 530px; }
#Wade_Neal { height: 65px; width: 130px; left: 845px; top: 530px; }
#Caleb_Snyder { height: 65px; width: 130px; left: 985px; top: 530px; }
#Paula_Stewart { height: 65px; width: 130px; left: 1125px; top: 530px; }
#Priscilla_Walton { height: 65px; width: 130px; left: 1265px; top: 530px; }
#Jan_Miles { height: 65px; width: 130px; left: 1405px; top: 530px; }
#Garry_Ramos { height: 65px; width: 130px; left: 1545px; top: 530px; }
#Kelly_Cruz { height: 65px; width: 130px; left: 1685px; top: 530px; }
#Ross_Padilla { height: 65px; width: 130px; left: 1825px; top: 530px; }
#Derek_Brady { height: 65px; width: 130px; left: 1965px; top: 530px; }
#Jessie_Byrd { height: 65px; width: 130px; left: 2105px; top: 530px; }
#Emily_Blake { height: 65px; width: 130px; left: 2245px; top: 530px; }
#Rita_Evans { height: 65px; width: 130px; left: 2385px; top: 530px; }
#Kristine_Willis { height: 65px; width: 130px; left: 2525px; top: 530px; }
#Dan_Bowers { height: 65px; width: 130px; left: 2945px; top: 530px; }
#Orlando_Sanders { height: 65px; width: 130px; left: 3085px; top: 530px; }
#Gustavo_Shelton { height: 65px; width: 130px; left: 3225px; top: 530px; }
#Courtney_Harmon { height: 65px; width: 130px; left: 3365px; top: 530px; }
#Gabriel_Castro { height: 65px; width: 130px; left: 5px; top: 455px; }
#Marcella_Morrison { height: 65px; width: 130px; left: 145px; top: 455px; }
#Gilberto_Dawson { height: 65px; width: 130px; left: 285px; top: 455px; }
#Lorenzo_Kennedy { height: 65px; width: 130px; left: 565px; top: 455px; }
#Sophie_Wagner { height: 65px; width: 130px; left: 845px; top: 455px; }
#Yvonne_Sanchez { height: 65px; width: 130px; left: 985px; top: 455px; }
#Deanna_Howard { height: 65px; width: 130px; left: 1125px; top: 455px; }
#Ira_Bates { height: 65px; width: 130px; left: 1265px; top: 455px; }
#Scott_Owen { height: 65px; width: 130px; left: 1405px; top: 455px; }
#Olivia_Romero { height: 65px; width: 130px; left: 1545px; top: 455px; }
#Elaine_Wilkerson { height: 65px; width: 130px; left: 1685px; top: 455px; }
#Tonya_Stokes { height: 65px; width: 130px; left: 1825px; top: 455px; }
#Miguel_Strickland { height: 65px; width: 130px; left: 1965px; top: 455px; }
#Kelvin_Page { height: 65px; width: 130px; left: 2105px; top: 455px; }
#Viola_Wallace { height: 65px; width: 130px; left: 2245px; top: 455px; }
#Calvin_Parsons { height: 65px; width: 130px; left: 2385px; top: 455px; }
#Omar_Sutton { height: 65px; width: 130px; left: 2525px; top: 455px; }
#Jared_Barker { height: 65px; width: 130px; left: 2665px; top: 455px; }
#Clay_Riley { height: 65px; width: 130px; left: 2945px; top: 455px; }
#Eduardo_Gross { height: 65px; width: 130px; left: 3085px; top: 455px; }
#Marcia_Montgomery { height: 65px; width: 130px; left: 3225px; top: 455px; }
#Mabel_Saunders { height: 65px; width: 130px; left: 3365px; top: 455px; }
#Clyde_Jensen { height: 65px; width: 130px; left: 3505px; top: 455px; }
#Fredrick_Long { height: 65px; width: 130px; left: 3645px; top: 455px; }
#Terrence_Flowers { height: 65px; width: 130px; left: 3785px; top: 455px; }
#Lorene_Chavez { height: 65px; width: 130px; left: 565px; top: 365px; }
#Rochelle_Mclaughlin { height: 65px; width: 130px; left: 1405px; top: 365px; }
#Brian_Jimenez { height: 65px; width: 130px; left: 1615px; top: 365px; }
#Pam_Patrick { height: 65px; width: 130px; left: 1825px; top: 365px; }
#Kathleen_Marsh { height: 65px; width: 130px; left: 3225px; top: 365px; }
#Frank_Lloyd { height: 65px; width: 130px; left: 3365px; top: 365px; }
#Lorena_Crawford { height: 65px; width: 130px; left: 3505px; top: 365px; }
#Alonzo_Benson { height: 65px; width: 130px; left: 3785px; top: 365px; }
#Wayne_Phelps { height: 65px; width: 130px; left: 3925px; top: 365px; }
#Barbara_Owens { height: 65px; width: 130px; left: 5px; top: 275px; }
#Maggie_Hodges { height: 65px; width: 130px; left: 285px; top: 275px; }
#Allen_Armstrong { height: 65px; width: 130px; left: 425px; top: 275px; }
#Pablo_Glover { height: 65px; width: 130px; left: 705px; top: 275px; }
#Felix_Barrett { height: 65px; width: 130px; left: 985px; top: 275px; }
#Marc_Soto { height: 65px; width: 130px; left: 1195px; top: 275px; }
#Lela_Daniel { height: 65px; width: 130px; left: 1405px; top: 275px; }
#Felipe_Klein { height: 65px; width: 130px; left: 1615px; top: 275px; }
#Otis_Holloway { height: 65px; width: 130px; left: 1965px; top: 275px; }
#Ray_Day { height: 65px; width: 130px; left: 2245px; top: 275px; }
#Enrique_Nelson { height: 65px; width: 130px; left: 2525px; top: 275px; }
#Frances_Guzman { height: 65px; width: 130px; left: 2805px; top: 275px; }
#Heidi_Simon { height: 65px; width: 130px; left: 3085px; top: 275px; }
#Josephine_Bush { height: 65px; width: 130px; left: 3365px; top: 275px; }
#Erika_Patton { height: 65px; width: 130px; left: 75px; top: 185px; }
#Dana_James { height: 65px; width: 130px; left: 705px; top: 185px; }
#Jake_Todd { height: 65px; width: 130px; left: 1125px; top: 185px; }
#Abraham_Copeland { height: 65px; width: 130px; left: 2945px; top: 185px; }
#Anthony_Pearson { height: 65px; width: 130px; left: 3645px; top: 185px; }
#Whitney_Santos { height: 65px; width: 130px; left: 3855px; top: 185px; }
#Mandy_Gray { height: 65px; width: 130px; left: 4065px; top: 185px; }
#Gloria_Tate { height: 65px; width: 130px; left: 3155px; top: 95px; }
#Connie_Parker { height: 65px; width: 130px; left: 4065px; top: 95px; }
#Joanna_Swanson { height: 65px; width: 130px; left: 355px; top: 5px; }
#Christopher_Ortiz { height: 65px; width: 130px; left: 1335px; top: 5px; }
#Cassandra_Mendez { height: 65px; width: 130px; left: 2175px; top: 5px; }
#Marty_Patterson { height: 65px; width: 130px; left: 3435px; top: 5px; }
#Wilson_Kim { height: 65px; width: 130px; left: 4065px; top: 5px; }
#gs_w1 { height: 5px; width: 130px; left: 5px; top: 440px; }
#gs_w2 { height: 5px; width: 130px; left: 145px; top: 440px; }
#gs_w3 { height: 5px; width: 130px; left: 285px; top: 440px; }
#gs_w4 { height: 5px; width: 130px; left: 565px; top: 440px; }
#gs_w5 { height: 5px; width: 130px; left: 845px; top: 440px; }
#gs_w6 { height: 5px; width: 130px; left: 985px; top: 440px; }
#gs_w7 { height: 5px; width: 130px; left: 1125px; top: 440px; }
#gs_w8 { height: 5px; width: 130px; left: 1265px; top: 440px; }
#gs_w9 { height: 5px; width: 130px; left: 1405px; top: 440px; }
#gs_w10 { height: 5px; width: 130px; left: 1545px; top: 440px; }
#gs_w11 { height: 5px; width: 130px; left: 1685px; top: 440px; }
#gs_w12 { height: 5px; width: 130px; left: 1825px; top: 440px; }
#gs_w13 { height: 5px; width: 130px; left: 1965px; top: 440px; }
#gs_w14 { height: 5px; width: 130px; left: 2105px; top: 440px; }
#gs_w15 { height: 5px; width: 130px; left: 2245px; top: 440px; }
#gs_w16 { height: 5px; width: 130px; left: 2385px; top: 440px; }
#gs_w17 { height: 5px; width: 130px; left: 2525px; top: 440px; }
#gs_w18 { height: 5px; width: 130px; left: 2665px; top: 440px; }
#gs_w19 { height: 5px; width: 130px; left: 2945px; top: 440px; }
#gs_w20 { height: 5px; width: 130px; left: 3085px; top: 440px; }
#gs_w21 { height: 5px; width: 130px; left: 3225px; top: 440px; }
#gs_w22 { height: 5px; width: 130px; left: 3365px; top: 440px; }
#gs_w23 { height: 5px; width: 130px; left: 3505px; top: 440px; }
#gs_w24 { height: 5px; width: 130px; left: 3645px; top: 440px; }
#gs_w25 { height: 5px; width: 130px; left: 3785px; top: 440px; }
#gs_w26 { height: 65px; width: 130px; left: 5px; top: 365px; }
#gs_w27 { height: 65px; width: 130px; left: 145px; top: 365px; }
#gs_w28 { height: 65px; width: 130px; left: 285px; top: 365px; }
#gs_w29 { height: 65px; width: 130px; left: 845px; top: 365px; }
#gs_w30 { height: 65px; width: 130px; left: 985px; top: 365px; }
#gs_w31 { height: 65px; width: 130px; left: 1195px; top: 365px; }
#gs_w32 { height: 65px; width: 130px; left: 1965px; top: 365px; }
#gs_w33 { height: 65px; width: 130px; left: 2105px; top: 365px; }
#gs_w34 { height: 65px; width: 130px; left: 2245px; top: 365px; }
#gs_w35 { height: 65px; width: 130px; left: 2525px; top: 365px; }
#gs_w36 { height: 65px; width: 130px; left: 2945px; top: 365px; }
#gs_w37 { height: 65px; width: 130px; left: 3085px; top: 365px; }
#gs_w38 { height: 65px; width: 130px; left: 3645px; top: 365px; }
#gs_w39 { height: 5px; width: 130px; left: 5px; top: 350px; }
#gs_w40 { height: 5px; width: 130px; left: 145px; top: 350px; }
#gs_w41 { height: 5px; width: 130px; left: 285px; top: 350px; }
#gs_w42 { height: 5px; width: 130px; left: 565px; top: 350px; }
#gs_w43 { height: 5px; width: 130px; left: 845px; top: 350px; }
#gs_w44 { height: 5px; width: 130px; left: 985px; top: 350px; }
#gs_w45 { height: 5px; width: 130px; left: 1195px; top: 350px; }
#gs_w46 { height: 5px; width: 130px; left: 1405px; top: 350px; }
#gs_w47 { height: 5px; width: 130px; left: 1615px; top: 350px; }
#gs_w48 { height: 5px; width: 130px; left: 1825px; top: 350px; }
#gs_w49 { height: 5px; width: 130px; left: 1965px; top: 350px; }
#gs_w50 { height: 5px; width: 130px; left: 2105px; top: 350px; }
#gs_w51 { height: 5px; width: 130px; left: 2245px; top: 350px; }
#gs_w52 { height: 5px; width: 130px; left: 2525px; top: 350px; }
#gs_w53 { height: 5px; width: 130px; left: 2945px; top: 350px; }
#gs_w54 { height: 5px; width: 130px; left: 3085px; top: 350px; }
#gs_w55 { height: 5px; width: 130px; left: 3225px; top: 350px; }
#gs_w56 { height: 5px; width: 130px; left: 3365px; top: 350px; }
#gs_w57 { height: 5px; width: 130px; left: 3505px; top: 350px; }
#gs_w58 { height: 5px; width: 130px; left: 3645px; top: 350px; }
#gs_w59 { height: 5px; width: 130px; left: 3785px; top: 350px; }
#gs_w60 { height: 5px; width: 130px; left: 3925px; top: 350px; }
#gs_w61 { height: 65px; width: 130px; left: 145px; top: 275px; }
#gs_w62 { height: 65px; width: 130px; left: 565px; top: 275px; }
#gs_w63 { height: 65px; width: 130px; left: 845px; top: 275px; }
#gs_w64 { height: 65px; width: 130px; left: 2945px; top: 275px; }
#gs_w65 { height: 65px; width: 130px; left: 3645px; top: 275px; }
#gs_w66 { height: 65px; width: 130px; left: 3855px; top: 275px; }
#gs_w67 { height: 5px; width: 130px; left: 5px; top: 260px; }
#gs_w68 { height: 5px; width: 130px; left: 145px; top: 260px; }
#gs_w69 { height: 5px; width: 130px; left: 285px; top: 260px; }
#gs_w70 { height: 5px; width: 130px; left: 425px; top: 260px; }
#gs_w71 { height: 5px; width: 130px; left: 565px; top: 260px; }
#gs_w72 { height: 5px; width: 130px; left: 705px; top: 260px; }
#gs_w73 { height: 5px; width: 130px; left: 845px; top: 260px; }
#gs_w74 { height: 5px; width: 130px; left: 985px; top: 260px; }
#gs_w75 { height: 5px; width: 130px; left: 1195px; top: 260px; }
#gs_w76 { height: 5px; width: 130px; left: 1405px; top: 260px; }
#gs_w77 { height: 5px; width: 130px; left: 1615px; top: 260px; }
#gs_w78 { height: 5px; width: 130px; left: 1965px; top: 260px; }
#gs_w79 { height: 5px; width: 130px; left: 2105px; top: 260px; }
#gs_w80 { height: 5px; width: 130px; left: 2245px; top: 260px; }
#gs_w81 { height: 5px; width: 130px; left: 2385px; top: 260px; }
#gs_w82 { height: 5px; width: 130px; left: 2525px; top: 260px; }
#gs_w83 { height: 5px; width: 130px; left: 2805px; top: 260px; }
#gs_w84 { height: 5px; width: 130px; left: 2945px; top: 260px; }
#gs_w85 { height: 5px; width: 130px; left: 3085px; top: 260px; }
#gs_w86 { height: 5px; width: 130px; left: 3365px; top: 260px; }
#gs_w87 { height: 5px; width: 130px; left: 3645px; top: 260px; }
#gs_w88 { height: 5px; width: 130px; left: 3855px; top: 260px; }
#gs_w89 { height: 65px; width: 130px; left: 285px; top: 185px; }
#gs_w90 { height: 65px; width: 130px; left: 425px; top: 185px; }
#gs_w91 { height: 65px; width: 130px; left: 1475px; top: 185px; }
#gs_w92 { height: 65px; width: 130px; left: 2175px; top: 185px; }
#gs_w93 { height: 65px; width: 130px; left: 3085px; top: 185px; }
#gs_w94 { height: 65px; width: 130px; left: 3365px; top: 185px; }
#gs_w95 { height: 5px; width: 130px; left: 75px; top: 170px; }
#gs_w96 { height: 5px; width: 130px; left: 285px; top: 170px; }
#gs_w97 { height: 5px; width: 130px; left: 425px; top: 170px; }
#gs_w98 { height: 5px; width: 130px; left: 565px; top: 170px; }
#gs_w99 { height: 5px; width: 130px; left: 705px; top: 170px; }
#gs_w100 { height: 5px; width: 130px; left: 1125px; top: 170px; }
#gs_w101 { height: 5px; width: 130px; left: 1265px; top: 170px; }
#gs_w102 { height: 5px; width: 130px; left: 1475px; top: 170px; }
#gs_w103 { height: 5px; width: 130px; left: 2175px; top: 170px; }
#gs_w104 { height: 5px; width: 130px; left: 2945px; top: 170px; }
#gs_w105 { height: 5px; width: 130px; left: 3085px; top: 170px; }
#gs_w106 { height: 5px; width: 130px; left: 3225px; top: 170px; }
#gs_w107 { height: 5px; width: 130px; left: 3365px; top: 170px; }
#gs_w108 { height: 5px; width: 130px; left: 3645px; top: 170px; }
#gs_w109 { height: 5px; width: 130px; left: 3855px; top: 170px; }
#gs_w110 { height: 5px; width: 130px; left: 4065px; top: 170px; }
#gs_w111 { height: 65px; width: 130px; left: 355px; top: 95px; }
#gs_w112 { height: 65px; width: 130px; left: 1335px; top: 95px; }
#gs_w113 { height: 65px; width: 130px; left: 2175px; top: 95px; }
#gs_w114 { height: 65px; width: 130px; left: 3645px; top: 95px; }
#gs_w115 { height: 65px; width: 130px; left: 3855px; top: 95px; }
#gs_w116 { height: 5px; width: 130px; left: 355px; top: 80px; }
#gs_w117 { height: 5px; width: 130px; left: 1335px; top: 80px; }
#gs_w118 { height: 5px; width: 130px; left: 2175px; top: 80px; }
#gs_w119 { height: 5px; width: 130px; left: 3155px; top: 80px; }
#gs_w120 { height: 5px; width: 130px; left: 3365px; top: 80px; }
#gs_w121 { height: 5px; width: 130px; left: 3505px; top: 80px; }
#gs_w122 { height: 5px; width: 130px; left: 3645px; top: 80px; }
#gs_w123 { height: 5px; width: 130px; left: 3855px; top: 80px; }
#gs_w124 { height: 5px; width: 130px; left: 4065px; top: 80px; }
#gs_w125 { height: 65px; width: 130px; left: 565px; top: 5px; }
#gs_w126 { height: 65px; width: 130px; left: 705px; top: 5px; }
#gs_w127 { height: 65px; width: 130px; left: 845px; top: 5px; }
#gs_w128 { height: 65px; width: 130px; left: 985px; top: 5px; }
#gs_w129 { height: 65px; width: 130px; left: 1125px; top: 5px; }
#gs_w130 { height: 65px; width: 130px; left: 1545px; top: 5px; }
#gs_w131 { height: 65px; width: 130px; left: 1685px; top: 5px; }
#gs_w132 { height: 65px; width: 130px; left: 1825px; top: 5px; }
#gs_w133 { height: 65px; width: 130px; left: 1965px; top: 5px; }
#gs_w134 { height: 65px; width: 130px; left: 2385px; top: 5px; }
#gs_w135 { height: 65px; width: 130px; left: 2525px; top: 5px; }
#gs_w136 { height: 65px; width: 130px; left: 2665px; top: 5px; }
#gs_w137 { height: 65px; width: 130px; left: 2805px; top: 5px; }
#gs_w138 { height: 65px; width: 130px; left: 2945px; top: 5px; }
#gs_w139 { height: 65px; width: 130px; left: 3085px; top: 5px; }
#gs_w140 { height: 65px; width: 130px; left: 3225px; top: 5px; }
#gs_w141 { height: 65px; width: 130px; left: 3645px; top: 5px; }
#gs_w142 { height: 65px; width: 130px; left: 3785px; top: 5px; }
#gs_w143 { height: 65px; width: 130px; left: 3925px; top: 5px; }


.gridster { width: 4250px; }
.gridster ul { height: 825px; }

#Karim-Dia_Toubajie .name.longName span:last-of-type {
	display: block;
}
#Stephen_Vallimarescu .name.longName,
#Francesca_Haincourt .name.longName {
	padding-top: 3px;
}